.openButton,
.closeButton,
.archiveButton,
.deleteButton,
.deletionCloseButton {
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.openButton.blue {
  color: #1971c2;
}

.openButton:active,
.closeButton:active,
.archiveButton:active,
.deleteButton:active,
.deletionCloseButton:active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.content {
  width: 320px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  color: var(--gray1000);
  font-weight: 600;
  user-select: none;
}

.colorsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
  padding: 16px 8px;
  border-radius: 1em;
  background-color: var(--gray100);
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

.color:active {
  border: 1px solid var(--gray100);
  outline: 1px solid var(--black);
}

.color.active {
  border: 1px solid var(--gray100);
  outline: 1px solid var(--black);
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 1em;
  background-color: var(--gray100);
}

.categoryText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray1000);
  font-weight: 600;
  user-select: none;
}

.categoryCheckbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.archiveButton {
  margin-bottom: 16px;
}

.deleteButton {
  margin-bottom: 16px;
  color: #e03131;
}

.deletionContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.deletionContent {
  width: 340px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--white);
}

.deletionHeader {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.message {
  text-align: center;
  margin-bottom: 16px;
}

.deletionTitle {
  padding: 4px 8px;
  border-radius: 1em;
  background-color: var(--gray100);
  text-transform: uppercase;
  user-select: none;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: none;
  outline: none;
  background-color: var(--gray100) !important;
  font-size: 16px;
  color: gray;
  text-transform: uppercase;
}

.input::placeholder {
  text-transform: lowercase;
}

.deleteForeverButton {
  margin: 0 auto 16px;
  padding: 12px 16px;
  border-radius: 1.5em;
  background-color: #e03131;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.deleteForeverButton:disabled {
  outline: 1px solid #e03131;
  background-color: var(--white);
  color: #e03131;
  cursor: not-allowed;
}

@media (hover: hover) {

  .openButton:hover,
  .closeButton:hover,
  .archiveButton:hover,
  .deleteButton:hover,
  .deletionCloseButton:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .color:hover {
    border: 1px solid var(--gray100);
    outline: 1px solid var(--black);
  }
}

@media (max-width: 639px) {
  .container {
    padding: 16px;
  }

  .content {
    width: 100%;
    height: 100%;
  }

  .colorsContainer {
    justify-content: center;
    gap: 12px;
    padding: 16px;
  }

  .color {
    width: 60px;
    height: 60px;
  }

  .color.active {
    border: 2px solid var(--gray100);
    outline: 2px solid var(--black);
  }

  .color:active {
    border: 2px solid var(--gray100);
    outline: 2px solid var(--black);
  }

  .categoryText {
    font-size: 36px;
  }

  .categoryCheckbox {
    width: 30px;
    height: 30px;
  }

  .archiveButton, .deleteButton {
    font-size: 36px;
  }

  .archiveButton:active, .deleteButton:active {
    text-decoration-thickness: 4px;
  }

  .deletionContainer {
    padding: 8px;
  }

  .deletionContent {
    width: 100%;
  }

  .input {
    padding: 16px;
  }

  .deleteForeverButton {
    padding: 16px;
  }
}











