.openButton,
.closeButton,
.archiveButton,
.deleteButton {
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.openButton.blue {
  color: #1971c2;
}

.openButton:active,
.closeButton:active,
.archiveButton:active,
.deleteButton:active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.content {
  width: 320px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  color: var(--gray1000);
  font-weight: 600;
  user-select: none;
}

.colorsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
  padding: 16px 8px;
  border-radius: 1em;
  background-color: var(--gray100);
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

.color:active {
  border: 1px solid var(--gray100);
  outline: 1px solid var(--black);
}

.color.active {
  border: 1px solid var(--gray100);
  outline: 1px solid var(--black);
}

.archiveButton {
  margin-bottom: 16px;
}

.deleteButton {
  margin-bottom: 16px;
  color: #e03131;
}

@media (hover: hover) {

  .openButton:hover,
  .closeButton:hover,
  .archiveButton:hover,
  .deleteButton:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .color:hover {
    border: 1px solid var(--gray100);
    outline: 1px solid var(--black);
  }

  /* .section>button:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .header>button:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .deletionDialog>button:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  } */
}

@media (max-width: 639px) {
  .container {
    padding: 16px;
  }

  .content {
    width: 100%;
    height: 100%;
  }

  .colorsContainer {
    justify-content: center;
    gap: 12px;
    padding: 16px;
  }

  .color {
    width: 60px;
    height: 60px;
  }

  .color.active {
    border: 2px solid var(--gray100);
    outline: 2px solid var(--black);
  }

  .color:active {
    border: 2px solid var(--gray100);
    outline: 2px solid var(--black);
  }

  .archiveButton, .deleteButton {
    font-size: 36px;
  }

  .archiveButton:active, .deleteButton:active {
    text-decoration-thickness: 4px;
  }







  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .section>button {
    font-size: 40px;
  }

  .buttonWrapper>button {
    font-size: 40px;
  }

  .tagsTrigger {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 0px solid black;
    border-bottom: 8px solid black;
    padding-top: 8px;
  }

  .tagsContainer {
    gap: 8px;
    font-size: 24px;
    font-weight: 600;
    color: #1971c2;
  }

  .tagItem {
    font-size: 24px;
    font-weight: 400;
  }

  .deletionDialog {
    flex-direction: row-reverse;
  }

  .deletionDialog>button {
    font-size: 24px;
  }

  .sectionTitle {
    font-size: 40px;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }
}









.buttonWrapper {
  display: flex;
  align-items: center;
  column-gap: 4px;
  width: fit-content;
  cursor: pointer;
}

.tagsTrigger {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
  cursor: pointer;
}

.tagsContainer {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tagItem {
  padding: 2px 8px;
  border: 1px solid black;
  border-radius: 16px;
  color: black;
  font-weight: 400;
}

.colorTrigger {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
  cursor: pointer;
}





.deletionDialog {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.cancelDeleteBtn {
  color: #1971c2;
}

.deleteBtn {
  color: #e03131;
}

.sectionTitle {
  color: #1971c2;
  font-size: 18px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}



