@keyframes render {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  align-items: flex-start;
  user-select: none;
  padding: 0px 8px 0px 0px;
  animation: render 0.2s ease-in;
}

.textarea {
  display: block;
  min-height: 18px;
  width: 100%;
  padding: 14px 0px 0px;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--fontColorPrimary);
  font-size: var(--fontSizeSmall);
  overflow: hidden;
  resize: none;
}

@media (max-width: 639px) {
  .container {
    padding: 0px 16px 0px 8px;
  }
  
  .textarea {
    font-size: var(--fontSizeMedium);
  }
}