.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  overflow: auto;
  background-color: white;
  padding: 16px;
  min-width: 300px;
  height: 80%;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  column-gap: 4px;
  width: fit-content;
  cursor: pointer;
}

.tagsTrigger {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
  cursor: pointer;
}

.colorTrigger {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
  cursor: pointer;
}

.colorsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.deleteBtn {
  color: #e03131; 
}

@media (hover: hover) {
  .mainButton:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

@media (max-width: 639px) {
  .content {
    height: 100vh;
    width: 100vw;
    background-color: #E8EDDF;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .section {
    display: flex;
    flex-direction: column-reverse;
  }

  .section>button {
    font-size: 40px;
  }

  .buttonWrapper>button {
    font-size: 40px;
  }

  .tagsTrigger {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 0px solid black;
    border-bottom: 8px solid black;
    padding-top: 8px;
  }

  .tagsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 8px;
    font-size: 24px;
    font-weight: 600;
    color: #1971c2;
  }

  .colorTrigger {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 0px solid black;
    border-bottom: 8px solid black;
    padding-top: 8px;
  }

  .colorsContainer>div {
    width: fit-content;
  }

  .colorsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 24px;
    font-weight: 600;
  }

  .colorsContainer>div {
    padding: 8px 0px 8px 16px;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }
}