.container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  margin-bottom: 400px;
}

.input {
  position: relative;
  min-height: 100px;
  resize: none;
  outline: 0;
  tab-size: 1;
}