textarea {
  width: 100%;
  max-width: 700px;
  display: block;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  resize: none;
  overflow: auto;
  line-height: 1em;
}

textarea::placeholder {
  color: #BFC7B4;
}

textarea.white {
  background-color: transparent;
  color: black;
}

textarea.black {
  background-color: black;
  color: white;
}

textarea.red {
  background-color: #e03131;
  color: white;
}

textarea.orange {
  background-color: #fd7e14;
  color: white;
}

textarea.yellow {
  background-color: #ffd43b;
  color: white;
}

textarea.green {
  background-color: #2f9e44;
  color: white;
}

textarea.blue {
  background-color: #1971c2;
  color: white;
}

textarea.purple {
  background-color: #9c36b5;
  color: white;
}

.preview {
  cursor: default;
  user-select: none !important;
}