.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container.fullWidth {
  width: 100%;
}

.label {
  color: var(--fontColorPrimary);
  font-size: var(--fontSizeSmall);
  user-select: none;
}

.error {
  display: none;
  font-size: var(--fontSizeSmall);
  color: var(--red);
}

.input {
  padding: 8px;
  outline: none;
  border: 1px solid var(--borderColor);
  background-color: var(--backgroundSecondary);
  color: var(--fontColorPrimary);
  font-size: var(--fontSizeMedium);
}

.input::placeholder {
  user-select: none;
  font-size: var(--fontSizeMedium);
}

.input:focus {
  outline: 1px solid var(--inputFocusBorderColor);
}

.input:invalid[data-focussed="true"] {
  outline: 1px solid var(--red);
}

.input:invalid[data-focussed="true"]~span {
  display: block;
}

.input:valid {
  background-color: var(--backgroundSecondary);
}

@media (max-width: 639px) {
  .input {
    padding: 12px;
  }
}