.container {
  width: fit-content;
  height: 100vh;
  padding: 8px;
  border-right: 1px solid #DDD;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.start, .end {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 100%;
}

.add:hover {
  /* background-color: #222; */
  cursor: pointer;
}

.add:active {
  background-color: #222;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 8px;
}

.button:hover {
  background-color: #EEE;
  cursor: pointer;
}

.button:active {
  background-color: #DDD;
}

@media (max-width: 639px) {
  .container {
    position: fixed;
    bottom: 0;
    flex-direction: row-reverse;
    width: 100%;
    height: fit-content;
    border-right: none;
    border-top: 1px solid #DDD;
  }

  .start, .end {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
  }
}
