.container {
  width: fit-content;
  height: 100vh;
  padding: 8px;
  border-right: 1px solid #DDD;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(10px);
}

.start, .end {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

@media (max-width: 639px) {
  .container {
    position: fixed;
    bottom: 0;
    flex-direction: row-reverse;
    width: 100%;
    padding: 8px 16px 8px 10px;
    height: fit-content;
    border-right: none;
    border-top: 1px solid #BBB;
  }

  .start, .end {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
  }
}
