.button {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.text {
  background-color: transparent;
  color: black;
}

.text.large {
  padding: 0px 8px;
  font-size: 40px;
}

.text:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.text.blue {
  color: #1971c2;
}

.text.red {
  color: #e03131;
}

.contained {
  color: #FFFFFF;
  background-color: black;
}

.outlined {
  background-color: transparent;
  outline: 1px solid black;
  color: black;
}

@media (max-width: 639px) {
  .button {
    padding: 12px 16px;
  }

  .large {
    padding: 8px 32px;
    font-size: 24px;
  }
}