@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  outline: none;
  font-size: var(--fontSizeMedium);
  transition: background-color 0.1s ease-in;
  user-select: none;
}

.contained {
  border: 1px solid transparent;
  background-color: var(--buttonContainedBackground);
  color: var(--buttonContainedColor);
}

.outlined {
  border: 1px solid var(--borderColor);
  background-color: transparent;
  color: var(--fontColorPrimary);
}

.text {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--fontColorPrimary);
}

.img {
  width: 16px;
  height: 16px;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

.contained > .spinner {
  border-top: 1px solid var(--buttonContainedColor);
  border-right: 1px solid var(--buttonContainedColor);
}

.outlined > .spinner, .text > .spinner {
  border-top: 1px solid var(--fontColorPrimary);
  border-right: 1px solid var(--fontColorPrimary);
}

@media (hover: hover) {
  .button:hover {
    cursor: pointer;
  }

  .contained:hover {
    background-color: var(--buttonContainedHover);
  }

  .outlined:hover, .text:hover {
    background-color: var(--buttonOutlinedHover);
  }
}

@media (min-width: 639px) {
  .button:active {
    cursor: pointer;
  }

  .contained:active {
    background-color: var(--buttonContainedActive);
  }

  .outlined:active, .text:active {
    background-color: var(--buttonOutlinedActive);
  }
}

@media (max-width: 639px) {
  .button {
    padding: 12px;
  }

  .contained.touch {
    background-color: var(--buttonContainedActive);
  }

  .outlined.touch, .text.touch {
    background-color: var(--buttonOutlinedActive);
  }
}

.button:disabled {
  background-color: transparent;
  color: var(--buttonDisabledColor);
  cursor: not-allowed;
}