@import url('../../../index.css');

.container {
  position: relative;
  width: 250px;
  min-width: 250px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--gray100);
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 16px;
}

.end {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 16px;
}

.createButton {
  width: 100%;
  padding: 4px 16px;
  background-color: var(--black);
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.createButton:active {
  background-color: var(--gray1500);
}

.categoriesWrapper {
  min-width: 100%;
  width: 100%;
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
}

.categoryButton {
  width: 100%;
  padding: 8px 16px;
  border-radius: 1em;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.activeCategoryButton {
  background-color: var(--gray200);
}

.menuButtonSmall, .categoriesButtonSmall {
  display: none;
  padding: 12px 16px;
  border-radius: 1em;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.menuButtonSmall:active, .categoriesButtonSmall:active {
  background-color: var(--gray200);
}

.menuWrapperSmall {
  position: absolute;
  min-width: 100%;
  height: calc(100vh - 80px);
  background-color: var(--gray100);
  bottom: 100%;
  right: 0;
}

.categoriesWrapperSmall {
  position: absolute;
  min-width: 100%;
  height: calc(100vh - 80px);
  background-color: var(--gray100);
  bottom: 100%;
  right: 0;
}

@media (hover: hover) {
  .createButton:hover {
    background-color: var(--gray1500);
  }

  .menuButtonSmall:hover,
  .categoryButton:hover {
    background-color: var(--gray200);
  }
}

@media (max-width: 639px) {
  .container {
    width: 100%;
    padding: 8px 16px 16px;
    flex-direction: row-reverse;
  }

  .start {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8px;
  }

  .end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .createButton {
    padding: 12px 16px;
  }

  .menuButtonSmall {
    display: block;
  }

  .categoriesButtonSmall {
    display: block;
  }

  .categoryButton {
    width: fit-content;
    padding: 4px 16px;
    font-size: 36px;
  }

  .categoriesWrapper {
    display: none;
  }

  .categoriesContainer {
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .menuWrapper {
    display: none;
  }
}





.toggleGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleGroup span {
  font-size: 18px;
  font-weight: 600;
}

.toggleGroupText {
  color: gray;
  cursor: default;
  user-select: none;
}

.switch {
  --button-width: 48px;
  --button-height: 24px;
  --toggle-diameter: 20px;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-green: black;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  /* transition: 0.3s all ease-in-out; */
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  /* transition: 0.3s all ease-in-out; */
}

.switch input[type="checkbox"]:checked+.slider {
  background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked+.slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active+.slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active+.slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

/* .end>button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
} */

.userButton {
  font-size: 18px;
  color: gray;
  cursor: default !important;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tagsMenu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: -100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #BFC7B4;
  overflow: auto;
}

.divider {
  width: 100%;
  height: 2px;
  margin: 4px 0 16px;
  background-color: #a1a89aee;
}

.settings {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: -100vh;
  padding: 8px 16px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  background-color: #BFC7B4;
}

.settings>button {
  font-size: 40px;
  height: fit-content;
}

