.container {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.note {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  line-height: 1em;
  overflow-wrap: break-word;
  user-select: none;
  transition: background-color 0.1s ease-in;
}

.settings {
  display: none;
}

.eiditNoteModalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

@media (hover: hover) {
  .note:hover {
    background-color: var(--secondaryElementHover);
    /* border-top: 1px solid var(--borderColor);  
    border-bottom: 1px solid var(--borderColor); */
    cursor: pointer;
  }

  .note:hover>.settings {
    display: block;
    position: absolute;
    right: 8px;
    top: 4px;
  }
}

@media (min-width: 481px) {
  .note:active {
    background-color: var(--secondaryElementActive);
  }
}

@media (max-width: 480px) {
  .note {
    height: auto;
    padding: 8px 16px;
    font-weight: 700;
    font-size: var(--fontSizeTitleLarge);
  }

  .icon {
    display: none;
  }

  .note.touch {
    background-color: var(--secondaryElementHover);
  }
}