.container {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.note {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  overflow-wrap: break-word;
  user-select: none;
  transition: background-color 0.1s ease-in;
}

.noteTitle {
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.eiditNoteModalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.iconMore {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

@media (hover: hover) {
  .note:hover {
    background-color: var(--secondaryElementHover);
    cursor: pointer;
  }

  .note:hover>.iconMore {
    opacity: 1;
  }
}

@media (min-width: 481px) {
  .note:active {
    background-color: var(--secondaryElementActive);
  }

  .active {
    background-color: var(--secondaryElementHover);
  }
}

@media (max-width: 480px) {
  .note {
    height: auto;
    padding: 8px 16px;
    font-weight: 700;
    font-size: var(--fontSizeTitleLarge);
  }

  .icon {
    display: none;
  }

  .iconMore {
    display: none;
  }

  .noteTitle {
    width: fit-content;
    white-space: wrap;
  }

  .note.touch {
    background-color: var(--secondaryElementHover);
  }
}