@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.note {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.1s ease-in;
}

.noteTitle {
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.iconMore {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.eiditNoteModalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.placeholder {
  opacity: 0;
}

.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundPrimary);
}

.spinner {
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-top: 1px solid var(--spinerColor);
  border-right: 1px solid var(--spinerColor);
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@media (hover: hover) {
  .note:hover {
    background-color: var(--secondaryElementHover);
    cursor: pointer;
  }

  .note:hover>.iconMore {
    opacity: 1;
  }
}

@media (min-width: 481px) {
  .note:active {
    background-color: var(--secondaryElementActive);
  }

  .active {
    background-color: var(--secondaryElementHover);
  }
}

@media (max-width: 480px) {
  .container {
    gap: 8px;
    padding: 8px;
  }

  .note {
    padding: 0px 8px;
    font-weight: 700;
    font-size: var(--fontSizeTitleLarge);
  }

  .noteTitle {
    width: fit-content;
    white-space: wrap;
  }

  .icon,
  .iconMore {
    display: none;
  }

  .loadingContainer {
    background-color: var(--backgroundPrimary);
  }

  .spinner {
    width: 32px;
    height: 32px;
    border: 2px solid transparent;
    border-top: 2px solid var(--spinerColor);
    border-right: 2px solid var(--spinerColor);
  }

  .note.touch {
    background-color: var(--secondaryElementHover);
  }

  .touch {
    background-color: var(--secondaryElementHover);
  }
}