.errorContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--backgroundPrimary);
  color: var(--fontColorPrimary);
  text-align: center;
}

.errorTitle {
  font-size: var(--fontSizeTitleLarge);
  font-weight: 700;
}