.container {
  display: flex;
  justify-content: center;
  user-select: none;
}

.textarea {
  display: block;
  width: 100%;
  max-width: 700px;
  outline: none;
  border: none;
  background-color: var(--transparent);
  color: var(--fontColorPrimary);
  font-size: var(--fontSizeTitle);
  font-weight: 700;
  line-height: 1em;
  overflow: auto;
  resize: none;
}

@media (max-width: 639px) {
  .textarea {
    font-size: 32px;
  }
}