.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  user-select: none;
}

.folder {
  position: relative;
  width: 120px;
  padding: 0px 8px 8px;
  transition: background-color 0.1s ease-in;
}

.folderImg {
  width: 100%;
  height: 100%;
}

.folderName {
  display: inline-block;
  width: 104px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.eiditFolderModalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.iconMore {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

@media (hover: hover) {
  .folder:hover {
    background-color: var(--secondaryElementHover);
  }

  .folder:hover>.iconMore {
    opacity: 1;
  }
}

@media (min-width: 481px) {
  .folder:active {
    background-color: var(--secondaryElementActive);
  }
}

@media (max-width: 480px) {
  .container.containerOffset {
    padding: 8px;
  }

  .folder {
    width: calc(50vw - 8px);
    padding: 0px 8px 0px;
  }

  .folderImg {
    width: 100%;
    height: 100%;
  }

  .folderName {
    width: calc(50vw - 24px);
    font-size: 16px;
  }

  .iconMore {
    display: none;
  }

  .folder.touch {
    background-color: var(--secondaryElementHover);
  }
}