.container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.preview {
  width: 742px;
  height: 90vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* background-color: var(--gray100); */
  /* background-color: #FDF7E4; */
  overflow: hidden;
}

.preview>.content {
  position: relative;
  max-height: 100%;
  padding: 0 16px 500px;
  overflow: auto;
  scroll-behavior: smooth;
}

.preview>.content>.header {
  display: none;
}

.editorModalNew,
.editorModalFromPreview,
.editorModalFromComponent {
  height: 100%;
  width: 100%;
  background-color: white;
  /* background-color: var(--gray100); */
  /* background-color: #FDF7E4; */
  overflow: hidden;
}

.editorModalNew>.content,
.editorModalFromPreview>.content,
.editorModalFromComponent>.content {
  position: relative;
  overflow: auto;
  max-height: 100%;
  scroll-behavior: smooth;
  padding-bottom: calc(500px + 5vh);
}

.editorModalNew>.content>.header,
.editorModalFromPreview>.content>.header,
.editorModalFromComponent>.content>.header {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}

.headerCloseButton {
  color: #1971C2;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.headerCloseButton:active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media (hover: hover) {
  .navigationEditButton:hover,
  .navigationCloseButton:hover,
  .headerCloseButton:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

@media (max-width: 639px) {
  .preview {
    height: calc(100% - 16px);
    margin: 8px;
    flex-direction: column-reverse;
  }

  .preview>.content {
    padding: 45px 8px 500px;
  }

  .preview>.content>.header {
    position: fixed;
    top: 8px;
    /* height: 40px; */
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px 16px;
    background-color: white;
    z-index: 3;
  }

  .preview>.content>.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--gray300);
  }

  .editorModalNew,
  .editorModalFromPreview,
  .editorModalFromComponent {
    padding: 0px 16px;
  }

  .editorModalNew>.content,
  .editorModalFromPreview>.content,
  .editorModalFromComponent>.content {
    padding-bottom: 578px;
  }

  .editorModalNew>.content>.header,
  .editorModalFromPreview>.content>.header,
  .editorModalFromComponent>.content>.header {
    padding: 16px 0px;
    margin-bottom: 0;
  }
}