.container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  user-select: none !important;
}

.preview {
  width: 742px;
  height: 90vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* background-color: var(--gray100); */
  /* background-color: #FDF7E4; */
  overflow: hidden;
  user-select: none !important;
}

.preview>.editor {
  position: relative;
  padding: 0px 8px;
  overflow: auto;
  max-height: 100%;
  user-select: none !important;
  scroll-behavior: smooth;
  padding-bottom: 500px;
}

.preview>.editor>.header {
  display: none;
}

.edit,
.editFP,
.editFC {
  height: 100%;
  width: 100%;
  background-color: white;
  /* background-color: var(--gray100); */
  /* background-color: #FDF7E4; */
  overflow: hidden;
}

.edit>.editor,
.editFP>.editor,
.editFC>.editor {
  position: relative;
  overflow: auto;
  max-height: 100%;
  user-select: none !important;
  scroll-behavior: smooth;
  padding-bottom: calc(500px + 5vh);
}

.edit>.editor>.header,
.editFP>.editor>.header,
.editFC>.editor>.header {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}

.navigation {
  display: none;
  /* padding: 8px 16px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray100); */
}

.preview>.navigation {
  padding: 8px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--gray100); */
  border-bottom: 1px solid black;
}

.navigationStart {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 16px;
}

.navigationEditButton,
.navigationCloseButton {
  color: #1971C2;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.navigationEditButton:active,
.navigationCloseButton:active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.navigationControlls {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.navigationCountBubble {
  padding: 8px 12px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: var(--white);
  cursor: default;
  user-select: none;
}

.arrowWrapper {
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrowWrapper:active {
  background-color: var(--gray1500);
}

.arrowLeft,
.arrowRight {
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

.arrowLeft {
  transform: rotate(-45deg);
}

.arrowRight {
  transform: rotate(135deg);
}

.headerCloseButton {
  color: #1971C2;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.headerCloseButton:active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.titleWrapper {
  display: flex;
  justify-content: center;
}

.categoriesContainer {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.category {
  padding: 8px 16px;
  border-radius: 1em;
  background-color: var(--gray200);
  font-weight: 600;
}

@media (hover: hover) {

  .navigationEditButton:hover,
  .navigationCloseButton:hover,
  .headerCloseButton:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .arrowWrapper:hover {
    background-color: var(--gray1500);
  }
}

@media (max-width: 639px) {
  .container {
    height: 100%;
    width: 100%;
    /* background-color: black; */
  }

  .preview {
    height: calc(100% - 16px);
    margin: 8px;
    flex-direction: column-reverse;
    /* border-radius: 1em; */
  }

  .preview>.navigation {
    border-top: 1px solid black;
  }

  .preview>.editor>.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px 16px;
  }

  .edit,
  .editFP,
  .editFC {
    padding: 0px 16px;
  }

  .edit>.editor,
  .editFP>.editor,
  .editFC>.editor {
    padding-bottom: 577px;
  }

  .edit>.editor>.header,
  .editFP>.editor>.header,
  .editFC>.editor>.header {
    padding: 16px 0px;
    margin-bottom: 0;
  }

  .navigation {
    padding: 8px;
    flex-direction: row-reverse;
  }

  .navigationSettingsWrapper {
    display: none;
  }

  .navigationStart {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
  }

  .navigationEnd {
    display: none;
  }

  .navigationEditButton {
    padding: 16px;
  }

  .arrowWrapper {
    padding: 20px 20px;
  }

  .navigationCountBubble {
    padding: 12px 16px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: var(--white);
    cursor: default;
    user-select: none;
  }
}