.container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.preview {
  width: 742px;
  height: 90vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* background-color: var(--gray100); */
  /* background-color: #FDF7E4; */
  overflow: hidden;
}

.preview>.editor {
  position: relative;
  max-height: 100%;
  padding: 0 16px 500px;
  overflow: auto;
  scroll-behavior: smooth;
}

.preview>.editor>.header {
  display: none;
}





.edit,
.editFP,
.editFC {
  height: 100%;
  width: 100%;
  background-color: white;
  /* background-color: var(--gray100); */
  /* background-color: #FDF7E4; */
  overflow: hidden;
}

.edit>.editor,
.editFP>.editor,
.editFC>.editor {
  position: relative;
  overflow: auto;
  max-height: 100%;
  user-select: none !important;
  scroll-behavior: smooth;
  padding-bottom: calc(500px + 5vh);
}

.edit>.editor>.header,
.editFP>.editor>.header,
.editFC>.editor>.header {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}

.headerCloseButton {
  color: #1971C2;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.headerCloseButton:active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media (hover: hover) {
  .navigationEditButton:hover,
  .navigationCloseButton:hover,
  .headerCloseButton:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

@media (max-width: 639px) {
  .preview {
    height: calc(100% - 16px);
    margin: 8px;
    flex-direction: column-reverse;
  }

  .preview>.editor {
    padding: 0 8px 500px;
  }

  .preview>.editor>.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px 16px;
  }

  .edit,
  .editFP,
  .editFC {
    padding: 0px 16px;
  }

  .edit>.editor,
  .editFP>.editor,
  .editFC>.editor {
    padding-bottom: 578px;
  }

  .edit>.editor>.header,
  .editFP>.editor>.header,
  .editFC>.editor>.header {
    padding: 16px 0px;
    margin-bottom: 0;
  }
}