.main {
  padding: 53px 16px 200px;
  height: 100vh;
  overflow-y: auto;
}

article {
  width: fit-content;
  padding-right: 16px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2em;
  cursor: pointer;
  user-select: none;
}

article.white {
  background-color: white;
  color: black;
}

article.black {
  background-color: black;
  color: white;
}

article.red {
  background-color: #e03131;
  color: white;
}

article.orange {
  background-color: #fd7e14;
  color: white;
}

article.yellow {
  background-color: #ffd43b;
  color: white;
}

article.green {
  background-color: #2f9e44;
  color: white;
}

article.blue {
  background-color: #1971c2;
  color: white;
}

article.purple {
  background-color: #9c36b5;
  color: white;
}

@media (max-width: 639px) {
  .main {
    padding: 50vh 16px 50vh;
  }
}