.navigation {
  position: relative;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: calc(100% - 16px);
  background-color: var(--gray300);
}

.navigationStart {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 16px;
}

.navigationEditButton,
.navigationCloseButton {
  color: #1971C2;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.navigationEditButton:active,
.navigationCloseButton:active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.navigationControlls {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.navigationCountBubble {
  padding: 8px 12px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: var(--white);
  cursor: default;
  user-select: none;
}

.arrowWrapper {
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrowWrapper:active {
  background-color: var(--gray1500);
}

.arrowLeft,
.arrowRight {
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

.arrowLeft {
  transform: rotate(-45deg);
}

.arrowRight {
  transform: rotate(135deg);
}

@media (hover: hover) {
  .navigationEditButton:hover,
  .navigationCloseButton:hover,
  .headerCloseButton:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .arrowWrapper:hover {
    background-color: var(--gray1500);
  }
}

@media (max-width: 639px) {
  .navigation {
    padding: 8px;
    flex-direction: row-reverse;
  }

  .navigation:after {
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    width: calc(100% - 16px);
    background-color: var(--gray300);
  }

  .navigationSettingsWrapper {
    display: none;
  }

  .navigationStart {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
  }

  .navigationEnd {
    display: none;
  }

  .navigationEditButton {
    padding: 16px;
  }

  .arrowWrapper {
    padding: 20px 20px;
  }

  .navigationCountBubble {
    padding: 12px 16px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: var(--white);
    cursor: default;
    user-select: none;
  }
}