.navigation {
  position: relative;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: calc(100% - 16px);
  background-color: var(--gray300);
}

.navigationStart {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 16px;
}

.navigationControlls {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

.navigationCountBubble {
  /* padding: 8px 12px; */
  /* border-left: 1px solid white; */
  /* border-right: 1px solid white; */
  height: 36px;
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--buttonBackgroundPrimary);
  color: var(--buttonColorPrimary);
  cursor: default;
  user-select: none;
}

.arrowWrapper {
  padding: 12px 16px;
  /* height: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--buttonBackgroundPrimary);
}

.arrowWrapper:disabled {
  background-color: var(--buttonColorPrimary);
}

.arrowWrapper:active {
  background-color: var(--gray1000);
}

.arrowWrapper:disabled:active {
  cursor: not-allowed;
  background-color: white;
}

.arrowWrapper:disabled>.arrowLeft {
  border-bottom: none;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.arrowWrapper:disabled>.arrowRight {
  border-bottom: none;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.arrowLeft,
.arrowRight {
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

.arrowLeft {
  transform: rotate(-45deg);
}

.arrowRight {
  transform: rotate(135deg);
}

@media (hover: hover) {
  .navigationEditButton:hover,
  .navigationCloseButton:hover,
  .headerCloseButton:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .arrowWrapper:hover {
    background-color: var(--gray1400);
  }

  .arrowWrapper:disabled:hover {
    background-color: white;
    cursor: not-allowed;
  }
}

@media (max-width: 639px) {
  .navigation {
    padding: 8px;
    flex-direction: row-reverse;
  }

  .navigation:after {
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    width: calc(100% - 16px);
    background-color: var(--gray300);
  }

  .navigationSettingsWrapper {
    display: none;
  }

  .navigationStart {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
  }

  .navigationEnd {
    display: none;
  }

  .navigationEditButton {
    padding: 16px;
  }

  .arrowWrapper {
    padding: 20px 20px;
  }

  .navigationCountBubble {
    height: 52px;
    width: 52px;
    padding: 12px 16px;
    color: var(--buttonColorPrimary);
    cursor: default;
    user-select: none;
  }
}