.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 200px;
  overflow: auto;
}

.document {
  width: 100%;
  max-width: 700px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 400;
  line-height: 1em;
  overflow-wrap: break-word;
  cursor: pointer;
  user-select: none;
}

.document:not(:last-child) {
  border-bottom: 1px solid var(--gray300);
  padding: 12px 0px;
}

.document:last-child {
  padding: 12px 0px 0px;
}

.document.none {
  text-decoration: none;
}

.document.red {
  text-decoration:line-through;
  text-decoration-thickness: 16px;
  text-decoration-color: rgba(224, 49, 49, 0.5);
}

.document.orange {
  text-decoration:line-through;
  text-decoration-thickness: 16px;
  text-decoration-color: rgb(253, 126, 20, 0.5);
}

.document.yellow {
  text-decoration:line-through;
  text-decoration-thickness: 16px;
  text-decoration-color: rgb(255, 212, 59, 0.5);
}

.document.green {
  text-decoration:line-through;
  text-decoration-thickness: 16px;
  text-decoration-color: rgba(47, 158, 67, 0.5);
}

.document.blue {
  text-decoration:line-through;
  text-decoration-thickness: 16px;
  text-decoration-color: rgb(25, 113, 194, 0.5);
}

.document.purple {
  text-decoration:line-through;
  text-decoration-thickness: 16px;
  text-decoration-color: rgb(156, 54, 181, 0.5);
}

.emptyContainer {
  width: 100%;
  height: 100%;
  padding-top: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray200);
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  user-select: none;
}

@media (max-width: 639px) {
  .document:not(:last-child) {
    border-bottom: 1px solid var(--gray300);
    padding: 8px 0px;
  }
  
  .document:last-child {
    padding: 8px 0px 0px;
  }
}