.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px 16px 40vh;
  overflow: auto;
}

article {
  width: 100%;
  max-width: 700px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  line-height: 1em;
}

article:not(:last-child) {
  border-bottom: 1px solid black;
  padding: 8px 0px;
}

article:last-child {
  padding: 8px 0px 0px;
}

article:active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

article.white {
  /* background-color: white; */
  background-color: transparent;
  color: black;
}

article.black {
  background-color: black !important;
  color: white;
}

article.red {
  /* background-color: #e03131 !important;
  color: white; */
  color: #e03131;
  /* font-weight: 800; */
}

article.orange {
  background-color: #fd7e14 !important;
  color: white;
}

article.yellow {
  background-color: #ffd43b !important;
  color: white;
}

article.green {
  background-color: #2f9e44 !important;
  color: white;
}

article.blue {
  /* background-color: #1971c2 !important;
  color: white; */
  color: #1971c2;
  /* font-weight: 800; */
}

article.purple {
  background-color: #9c36b5 !important;
  color: white;
}

.emptyContainer {
  width: 100%;
  height: 100%;
  padding-top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray200);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  user-select: none;
}

@media (hover: hover) {
  article:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
}

@media (max-width: 639px) {
  .container {
    /* padding: 60vh 16px 40vh 0px; */
    padding: 60vh 16px 40vh;
  }

  article {
    /* padding-left: 16px; */
    /* font-weight: 700; */
    /* border-radius: 0 1em 1em 0; */
  }

  .emptyContainer {
    padding-top: 0;
  }
}