.container {
  display: flex;
  justify-content: center;
  user-select: none;
}

.textarea {
  display: block;
  width: 100%;
  max-width: var(--editorInputWidth);
  outline: none;
  border: none;
  background-color: var(--transparent);
  color: var(--fontColorPrimary);
  font-size: var(--fontSizeTitle);
  font-weight: var(--fontWeightTitle);
  line-height: 1em;
  overflow: auto;
  resize: none;
}