@keyframes containerOpen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: calc(100vw - 298px);
  z-index: 2;
  animation: containerOpen 0.1s forwards;
  transition: width 0.1s ease-in;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--backgroundPrimary);
  color: var(--fontColorPrimary);
  overflow: hidden;
}

.content>.editor {
  flex: 1;
  position: relative;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 16px 16px 50vh;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
}