@keyframes openModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  animation: openModal 0.1s ease-in;
}

.content {
  position: relative;
  background-color: var(--backgroundPrimary);
  border: 1px solid var(--borderColor);
  color: var(--fontColorPrimary);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 16px;
  border-bottom: 1px solid var(--borderColor);
  user-select: none;
}

.sections {
  height: 75vh;
  width: 100%;
  overflow: auto;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.section:not(:last-child) {
  border-bottom: 1px solid var(--borderColor);
}

.accountGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.accoutSettings {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.accoutSettingsField {
  display: flex;
  flex-direction: column;
  gap: 8px;
  user-select: none;
}

.emailLabel {
  font-size: var(--fontSizeSmall);
}

.themeField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.list {
  margin-left: 16px;
}

.list>li {
  padding: 2px;
  font-size: var(--fontSizeSmall);
}

@media (max-width: 639px) {
  .content {
    height: 100vh;
    width: 100vh;
    border: none;
  }

  .sections {
    height: calc(100vh - 65px);
  }

  .accountGroup {
    flex-direction: column;
  }

  .accoutSettings {
    width: 100%;
    gap: 16px;
  }
}