@keyframes openModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sections {
  width: 100%;
  overflow: auto;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.section:not(:last-child) {
  border-bottom: 1px solid var(--borderColor);
}

.accountGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.accoutSettings {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.accoutSettingsField {
  display: flex;
  flex-direction: column;
  gap: 8px;
  user-select: none;
}

.emailLabel {
  font-size: var(--fontSizeSmall);
}

.themeField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

@media (min-width: 481px) {
  .sections {
    max-height: 75vh;
  }
}

@media (max-width: 480px) {
  .sections {
    height: calc(100vh - 65px);
  }

  .accountGroup {
    flex-direction: column;
  }

  .accoutSettings {
    width: 100%;
    gap: 16px;
  }
}