.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border-right: 1px solid var(--borderColor);
  background-color: var(--backgroundSecondary);
  color: var(--fontColorPrimary);
}

.content {
  flex: 1;
  overflow: auto;
  padding-bottom: 50vh;
}

.content::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.wrapper {
  width: 240px;
}

.dividerFolders, .dividerNotes {
  border-bottom: 1px solid var(--borderColor);
}

.emptyAlert {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  user-select: none;
}

@media (max-width: 639px) {
  .container {
    width: 100%;
    border-right: none;
    background-color: var(--backgroundPrimary);
  }

  .header {
    width: 100%;
  }

  .content {
    flex: 1;
    overflow: auto;
    width: 100%;
  }

  .wrapper {
    width: 100%;
  }

  .dividerFolders, .dividerNotes {
    border: none;
  }

  .emptyAlert {
    font-size: 24px;
  }

  .touch {
    background-color: var(--secondaryElementHover);
  }
}