.containe {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--fontColorPrimary);
  font-size: 12px;
  user-select: none;
}

.input {
  padding: 4px 8px;
  outline: none;
  border: 1px solid var(--borderColor);
  background-color: var(--backgroundSecondary);
  color: var(--fontColorPrimary);
  font-size: 15px;
}