.container {
  display: flex;
  align-items: flex-start;
  user-select: none;
  padding: 0px 16px 0px 8px;
}

.textarea {
  display: block;
  min-height: 18px;
  width: 100%;
  padding: 12px 0px 0px;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--fontColorPrimary);
  font-size: var(--fontSizeMedium);
  line-height: 1em;
  overflow: hidden;
  resize: none;
}

@media (max-width: 639px) {
  .textarea {
    padding: 16px 0px 0px;
  }
}