.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  user-select: none;
}

.button > svg {
  width: 24px;
  height: 24px;
  margin: 8px;
  fill: var(--secondary);
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--hover);
    cursor: pointer;
  }
}

.button:active {
  background-color: var(--active);
}

.primary {
  background-color: var(--secondary);
}

.primary > svg {
  width: 40px;
  height: 40px;
  margin: 0px;
  fill: var(--primary);
}

@media (hover: hover) {
  .primary:hover {
    background-color: var(--hoverPrimary);
    cursor: pointer;
  }
}

.primary:active {
  background-color: var(--activePrimary);
}

@media (max-width: 639px) {
  .button > svg {
    width: 32px;
    height: 32px;
  }

  .primary > svg {
    width: 48px;
    height: 48px;
  }
}
