.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  user-select: none;
  transition: background-color 0.1s ease-in;
}

.button>svg {
  width: 24px;
  height: 24px;
  margin: 8px;
  fill: var(--buttonColorSecondary);
}

.small>svg {
  width: 24px;
  height: 24px;
  margin: 0px;
  fill: var(--buttonColorSecondary);
}

.primary {
  background-color: var(--buttonBackgroundPrimary);
}

.primary>svg {
  width: 40px;
  height: 40px;
  margin: 0px;
  fill: var(--buttonColorPrimary);
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--buttonHoverSecondary);
    cursor: pointer;
  }

  .primary:hover {
    background-color: var(--buttonHoverPrimary);
    cursor: pointer;
  }
}

@media (min-width: 639px) {
  .button:active {
    background-color: var(--buttonActiveSecondary);
  }

  .primary:active {
    background-color: var(--buttonActivePrimary);
  }
}

@media (max-width: 639px) {
  .button>svg {
    width: 32px;
    height: 32px;
  }

  .primary>svg {
    width: 48px;
    height: 48px;
  }

  .button.touch {
    background-color: var(--buttonActiveSecondary);
  }

  .primary.touch {
    background-color: var(--buttonActivePrimary);
  }
}