.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100%;
  margin: 0 auto;
}

.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--borderColor);
}

.typeText {
  font-size: 32px;
  font-weight: bold;
}

.errorText {
  color: var(--red);
}

.alternativeText {
  margin-top: 8px;
  color: var(--fontColorQuote);
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 16px;
  }

  .form {
    width: 100%;
  }
}