.button {
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
  font-weight: 600;
}

.text {
  background-color: transparent;
  color: #1971c2;
}

.contained {
  color: #FFFFFF;
  background-color: black;
}

.outlined {
  background-color: transparent;
  outline: 1px solid black;
  color: black;
}

@media (max-width: 639px) {
  .button {
    padding: 12px;
  }
}