.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  overflow: auto;
  background-color: white;
  padding: 16px;
  width: 300px;
  background-color: #BFC7B4;
}

.blue {
  /* padding: 8px 16px; */
  color: #1971c2;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  column-gap: 4px;
  width: fit-content;
  cursor: pointer;
}

.tagsTrigger {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
  cursor: pointer;
}

.tagsContainer {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tagItem {
  padding: 2px 8px;
  border: 1px solid black;
  border-radius: 16px;
  color: black;
  font-weight: 400;
}

.colorTrigger {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
  cursor: pointer;
}

.colorsContainer {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.colorItem {
  /* padding: 4px 8px; */
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: white;
  font-weight: 400;
}

.deletionDialog {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.cancelDeleteBtn {
  color: #1971c2;
}

.deleteBtn {
  color: #e03131;
}

.sectionTitle {
  color: #1971c2;
  font-size: 18px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}

@media (hover: hover) {
  .mainButton:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .section>button:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .header>button:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .deletionDialog>button:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

@media (max-width: 639px) {
  .content {
    height: 100vh;
    width: 100vw;
    background-color: #BFC7B4;
    flex-direction: column-reverse;
    align-items: flex-end;
    row-gap: 0;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .section>button {
    font-size: 40px;
  }

  .buttonWrapper>button {
    font-size: 40px;
  }

  .tagsTrigger {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 0px solid black;
    border-bottom: 8px solid black;
    padding-top: 8px;
  }

  .tagsContainer {
    gap: 8px;
    font-size: 24px;
    font-weight: 600;
    color: #1971c2;
  }

  .colorTrigger {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 0px solid black;
    border-bottom: 8px solid black;
    padding-top: 8px;
  }

  .colorsContainer {
    justify-content: flex-end;
    font-weight: 600;
  }

  .colorItem {
    font-size: 24px;
    font-weight: 400;
  }

  .tagItem {
    font-size: 24px;
    font-weight: 400;
  }

  .deletionDialog {
    flex-direction: row-reverse;
  }

  .deletionDialog>button {
    font-size: 24px;
  }

  .closeButton {
    font-size: 40px;
  }

  .sectionTitle {
    font-size: 40px;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }
}