.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 320px;
  padding: 16px;
}

.messageText, .afterText {
  text-align: center;
  color: var(--fontColorPrimary);
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}
