.container {
  display: flex;
  align-items: flex-start;
  padding: 0px 8px 0px 0px;
}

.content {
  width: 100%;
  min-height: 16px;
  margin-top: 12px;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--fontColorPrimary);
  font-size: var(--fontSizeSmall);
}

@media (max-width: 480px) {
  .container {
    padding: 0px 16px 0px 4px;
  }
  
  .content {
    margin-top: 14px;
    font-size: var(--fontSizeMedium);
  }
}