.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
  border-bottom: 1px solid var(--borderColor);
  user-select: none;
}

.folder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 0;
  border: 1px solid transparent;
  transition: background-color 0.1s ease-in;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.settings {
  display: none;
}

.svg {
  width: 100%;
  height: 100%;
  padding: 0;
}

.eiditFolderModalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (hover: hover) {
  .folder:hover {
    background-color: var(--buttonHoverSecondary);
    border: 1px solid var(--borderColor);
  }

  /* .folder:hover>.settings {
    display: block;
  } */
}

@media (min-width: 639px) {
  .folder:active {
    background-color: var(--buttonActiveSecondary);
  }
}

@media (max-width: 639px) {
  .container {
    border: none;
    font-size: 16px;
  }

  .folder.touch {
    background-color: var(--buttonHoverSecondary);
  }
}