.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 632px;
  height: 80%;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8eddf;
}

.left {
  display: flex;
  padding: 8px;
}

.navigation{
  display: flex;
}

.right {
  display: flex;
}

.editor {
  overflow: auto;
  max-height: 100%;
}

.title {
  margin-left: 8px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
}

.title.white {
  background-color: white;
  color: black;
}

.title.black {
  background-color: black;
  color: white;
}

.title.red {
  background-color: #e03131;
  color: white;
}

.title.orange {
  background-color: #fd7e14;
  color: white;
}

.title.yellow {
  background-color: #ffd43b;
  color: white;
}

.title.green {
  background-color: #2f9e44;
  color: white;
}

.title.blue {
  background-color: #1971c2;
  color: white;
}

.title.purple {
  background-color: #9c36b5;
  color: white;
}

@media (max-width: 639px) {
  .container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .content {
    flex-direction: column-reverse;
    justify-content:space-between;
    margin: 8px;
    height: calc(100% - 56px);
  }

  .header {
    flex-direction: row-reverse;
  }

  .left {
    flex-direction: row-reverse;
  }

  .editor {
    padding: 8px;
  }

  .title {
    margin-left: 0px;
    padding: 29px 0px 0px;
  }
}