.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.header {
  padding: 16px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  user-select: none;
}

.logoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logoText {
  font-size: var(--fontSizeLarge);
}