.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 16px;
}

.logo {
  display: flex;
  justify-content: flex-start;  
  align-items: center;
  column-gap: 4px;
  user-select: none;
}

.logoImg {
  width: 40px;
  height: 40px;
}

.logoText {
  font-size: var(--fontSizeLarge);
}

.authContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 24px;
  font-size: var(--fontSizeTitleLarge);
  font-weight: 700;
}

.errorContainer {
  color: var(--red);
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 320px;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
}

.alternativeText {
  margin: 24px 0px 8px;
  color: var(--fontColorQuote);
}

.resetContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 16px;
}

.resetForm {
  display: flex;
  column-gap: 4px;
  margin-bottom: 8px;
}

.resetMessage {
  margin-top: 16px;
  color: var(--fontColorQuote);
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--borderColor);
}

@media (max-width: 480px) {
  .form {
    padding: 0px 16px;
    width: 100%;
  }

  .resetForm {
    width: 100%;
    flex-direction: column;
    row-gap: 8px;
  }
}