.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 16px;
}

.logo {
  display: flex;
  justify-content: flex-start;  
  align-items: center;
  column-gap: 4px;
  user-select: none;
}

.logoImg {
  width: 40px;
  height: 40px;
}

.logoText {
  font-size: var(--fontSizeLarge);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 24px;
  font-size: var(--fontSizeTitle);
  font-weight: 700;
}

.errorContainer {
  color: #e03131;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.label {
  margin-bottom: 4px;
  color: var(--fontColorPrimary);
  font-size: var(--fontSizeSmall);
  user-select: none;
}

.input {
  padding: 8px;
  outline: none;
  border: 1px solid var(--borderColor);
  background-color: var(--backgroundSecondary);
  color: var(--fontColorPrimary);
  font-size: var(--fontSizeMedium);
}

.input::placeholder {
  user-select: none;
  font-size: var(--fontSizeMedium);
}

.input:focus {
  outline: 2px solid #1971c2;
}

.input:invalid[data-focussed="true"] {
  outline: 2px solid #e03131;
}

.input:invalid[data-focussed="true"]~span {
  display: block;
}

.input:valid {
  background-color: var(--backgroundSecondary);
}

.error {
  display: none;
  width: 320px;
  margin-top: 4px;
  font-size: 14px;
  color: #e03131;
}

.forgotPasswordContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resetForm {
  display: flex;
  align-items: center;
  column-gap: 4px;
  flex-wrap: nowrap;
  margin-bottom: 8px;
}

.resetMessage {
  margin-top: 16px;
  color: var(--fontColorQuote);
}

.divider {
  margin: 8px 0;
}

.buttonImg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.alternativeText {
  margin: 24px 0px 8px;
  color: var(--fontColorQuote);
}

@media (max-width: 639px) {
  .label {
    font-size: 16px;
  }

  .input {
    padding: 12px 8px;
  }
}