.openButton {
  width: 100%;
  margin-top: 8px;
  padding: 8px 16px;
  border-radius: 1em;
  color: #1971C2;
  font-weight: 600;
  text-transform: lowercase;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.openButton:active {
  background-color: var(--gray200);
}

.container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.content {
  min-width: 320px;
  padding: 16px;
  background-color: var(--white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  color: var(--gray1000);
  font-weight: 600;
  user-select: none;
}

.closeButton {
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.closeButton:active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.group {
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
  margin-bottom: 16px;
}

.emailLabel {
  color: var(--gray1000);
  font-weight: 600;
  user-select: none;
}

.signOutButton {
  width: fit-content;
  margin-bottom: 16px;
  color: red;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.signOutButton:active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media (hover: hover) {
  .openButton:hover {
    background-color: var(--gray200);
  }

  .closeButton:hover, .signOutButton:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

@media (max-width: 639px) {
  .openButton {
    width: fit-content;
    padding: 0;
    margin: 0;
    border-radius: 0;
    font-size: 32px;
    font-weight: 600;
    cursor: default;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-self: flex-start;
  }

  .openButton:active {
    background-color: transparent;
    text-decoration: underline;
    text-decoration-thickness: 4px;
  }

  .container {
    padding: 16px;
  }

  .content {
    width: 100%;
    height: 100%;
  }

  .header {
    margin-bottom: 16px;
  }

  .signOutButton {
    font-size: 32px;
  }
  
  .signOutButton:active {
    text-decoration-thickness: 4px;
  }
}