.img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
  user-select: none;
}

.small {
  width: 40px;
  height: 40px;
}

.large {
  width: 180px;
  height: 180px;
  border: 1px solid var(--borderColor);
}

@media (hover: hover) {
  .small:hover {
    background-color: var(--secondaryElementHover);
    cursor: pointer;
  }
}

@media (min-width: 639px) {
  .small:active {
    background-color: var(--secondaryElementActive);
    cursor: pointer;
  }
}


@media (max-width: 639px) {
  .small {
    width: 48px;
    height: 48px;
  }

  .large {
    width: 100%;
    height: calc(100vw - 32px);
  }
}