@keyframes containerOpen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  position: relative;
}

.bubble {
  position: absolute;
  display: none;
  width: fit-content;
  height: fit-content;
  padding: 2px 8px;
  border-radius: 2px;
  background-color: var(--tooltipBackground);
  color: var(--tooltipColor);
  font-size: var(--fontSizeSmall);
  font-weight: 300;
  text-wrap: nowrap;
  user-select: none;
  z-index: 99;
  animation: containerOpen .1s ease-in;
}

@media (hover: hover) {
  .container:hover>.top {
    display: block;
    top: -20px;
  }

  .container:hover>.bottom {
    text-align: center;
    display: block;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
  }

  .container:hover>.left {
    display: block;
    left: -20px;
  }

  .container:hover>.right {
    display: block;
    left: calc(100% + 8px);
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  .bubble:hover {
    display: none;
  }
}