.tooltip {
  position: absolute;
  max-width: 444px;
  padding: 2px 8px;
  background-color: var(--primaryElementBackground);
  color: var(--primaryElementColor);
  font-size: var(--fontSizeSmall);
  font-weight: 300;
  user-select: none;
  opacity: 0;
  z-index: 1000;
  transition: opacity 0.1s ease-in;
}

.tooltip.visible {
  opacity: 1;
}

.tooltip.rich {
  padding: 8px;
  z-index: 3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding-left: 8px;
}

.title {
  font-size: var(--fontSizeLarge);
  font-weight: 500;
}

@media (max-width: 480px) {
  .tooltip.rich {
    width: calc(100vw - 32px);
    max-width: calc(100vw - 32px);
    font-size: var(--fontSizeMedium);
    font-weight: 400;
  }
}