.container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0px auto;
}

.input {
  position: relative;
  min-height: 100px;
  resize: none;
  outline: 0;
  tab-size: 1;
  user-select: none !important;
}