@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundPrimary);
}

.spinnerIcon {
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  border-top: 2px solid var(--spinerColor);
  border-right: 2px solid var(--spinerColor);
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

.errorContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--backgroundPrimary);
  color: var(--fontColorPrimary);
  text-align: center;
}

.errorTitle {
  font-size: var(--fontSizeTitle);
  font-weight: 700;
}