@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

:root {
  --transparent: rgba(255, 255, 255, 0);
  --white: #FFFFFF;
  --gray50: #F9F9F9;
  --gray100: #EEEEEE;
  --gray200: #DDDDDD;
  --gray300: #CCCCCC;
  --gray350: #C9C9C9;
  --gray400: #BBBBBB;
  --gray500: #AAAAAA;
  --gray600: #999999;
  --gray700: #888888;
  --gray800: #777777;
  --gray900: #666666;
  --gray1000: #555555;
  --gray1100: #444444;
  --gray1200: #333333;
  --gray1300: #222222;
  --gray1350: #191919;
  --gray1400: #111111;
  --black: #000000;
  --red: #e03131;

  --fontSizeTitle: 48px;
  --fontSizeH1: 40px;
  --fontSizeH2: 32px;
  --fontSizeH3: 24px;
  --fontSizeLarge: 20px;
  --fontSizeMedium: 16px;
  --fontSizeSmall: 12px;
  --fontWeightTitle: 700;

  --editorInputWidth: 700px;
}

body.light-theme {
  --backgroundPrimary: var(--white);
  --backgroundSecondary: var(--gray50);
  --borderColor: var(--gray200);
  --fontColorPrimary: var(--black);
  --fontColorQuote: var(--gray600);
  --selectionFontColor: var(--white);
  --selectionBackgroundColor: var(--black);

  --buttonColorPrimary: var(--white);
  --buttonBackgroundPrimary: var(--black);
  --buttonHoverPrimary: var(--gray1400);
  --buttonActivePrimary: var(--gray1300);
  --buttonColorSecondary: var(--black);
  --buttonBackgroundSecondary: var(--transparent);
  --buttonHoverSecondary: var(--gray100);
  --buttonActiveSecondary: var(--gray200);

  /* Button */
  --buttonContainedColor: var(--white);
  --buttonContainedBackground: var(--black);
  --buttonContainedHover: var(--gray1400);
  --buttonContainedActive: var(--gray1300);
  --buttonOutlinedHover: var(--gray100);
  --buttonOutlinedActive: var(--gray200);
  --buttonDisabledColor: var(--gray600);

  /* Icon Button */
  --iconButtonPrimaryColor: var(--white);
  --iconButtonPrimaryBackground: var(--black);
  --iconButtonPrimaryHover: var(--gray1400);
  --iconButtonPrimaryActive: var(--gray1300);
  --iconButtonSecondaryColor: var(--black);
  --iconButtonSecondaryBackground: var(--transparent);
  --iconButtonSecondaryHover: var(--gray100);
  --iconButtonSecondaryActive: var(--gray200);

  /* Input */
  --inputFocusBorderColor: var(--black);

  /* Tooltip */
  --tooltipColor: var(--white);
  --tooltipBackground: var(--black);

  /* Scroll */
  --scrollBackground: var(--backgroundSecondary);
  --scrollBackgroundHover: var(--black);

  /* Spiner */
  --spinerColor: var(--black);
}

body.dark-theme {
  --backgroundPrimary: var(--gray1350);
  --backgroundSecondary: var(--gray1300);
  --borderColor: var(--gray1200);
  --fontColorPrimary: var(--gray200);
  --fontColorQuote: var(--gray600);
  --selectionFontColor: var(--gray1350);
  --selectionBackgroundColor: var(--gray200);

  --buttonColorPrimary: var(--black);
  --buttonBackgroundPrimary: var(--gray200);
  --buttonHoverPrimary: var(--gray300);
  --buttonActivePrimary: var(--gray200);
  --buttonColorSecondary: var(--white);
  --buttonBackgroundSecondary: var(--transparent);
  --buttonHoverSecondary: var(--gray1200);
  --buttonActiveSecondary: var(--gray1400);

  /* Button */
  --buttonContainedColor: var(--black);
  --buttonContainedBackground: var(--gray200);
  --buttonContainedHover: var(--gray300);
  --buttonContainedActive: var(--gray400);
  --buttonOutlinedHover: var(--gray1200);
  --buttonOutlinedActive: var(--gray1400);
  --buttonDisabledColor: var(--gray600);

  /* Icon Button */
  --iconButtonPrimaryColor: var(--gray1300);
  --iconButtonPrimaryBackground: var(--gray200);
  --iconButtonPrimaryHover: var(--gray300);
  --iconButtonPrimaryActive: var(--gray400);
  --iconButtonSecondaryColor: var(--gray200);
  --iconButtonSecondaryBackground: var(--transparent);
  --iconButtonSecondaryHover: var(--gray1200);
  --iconButtonSecondaryActive: var(--gray1400);

  /* Input */
  --inputFocusBorderColor: var(--gray200);

  /* Tooltip */
  --tooltipColor: var(--black);
  --tooltipBackground: var(--gray200);

  /* Scroll */
  --scrollBackground: var(--backgroundSecondary);
  --scrollBackgroundHover: var(--gray200);

  /* Spiner */
  --spinerColor: var(--gray200);
}

body {
  color: var(--fontColorPrimary);
  overscroll-behavior-y: contain;
  background-color: var(--backgroundPrimary);
}

::selection {
  color: var(--selectionFontColor);
  background-color: var(--selectionBackgroundColor);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--backgroundSecondary);
  border-left: 1px solid var(--borderColor);
}

::-webkit-scrollbar-thumb {
  background: var(--borderColor);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollBackgroundHover);
}

@media (max-width: 639px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}