@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

:root {
  --transparent: rgba(255, 255, 255, 0);
  --white: #FFFFFF;
  --gray50: #F9F9F9;
  --gray100: #EEEEEE;
  --gray200: #DDDDDD;
  --gray300: #CCCCCC;
  --gray400: #BBBBBB;
  --gray500: #AAAAAA;
  --gray600: #999999;
  --gray700: #888888;
  --gray800: #777777;
  --gray900: #666666;
  --gray1000: #555555;
  --gray1100: #444444;
  --gray1200: #333333;
  --gray1300: #222222;
  --gray1350: #191919;
  --gray1400: #111111;
  --black: #000000;

  --fintSizeTitle: 48px;
  --fontSizeH1: 40px;
  --fontSizeH2: 32px;
  --fontSizeH3: 24px;
  --fontSizeLarge: 20px;
  --fontSizeMedium: 16px;
  --fontSizeSmall: 12px;
  --fontWeightTitle: 700;

  --editorInputWidth: 700px;
}

@media (prefers-color-scheme: light) {
  :root {
    --backgroundPrimary: var(--white);
    --backgroundSecondary: var(--gray50);
    --borderColor: var(--gray200);
    --buttonColorPrimary: var(--white);
    --buttonBackgroundPrimary: var(--black);
    --buttonHoverPrimary: var(--gray1400);
    --buttonActivePrimary: var(--gray1300);
    --buttonColorSecondary: var(--black);
    --buttonBackgroundSecondary: var(--transparent);
    --buttonHoverSecondary: var(--gray100);
    --buttonActiveSecondary: var(--gray200);
    --fontColorPrimary: var(--black);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundPrimary: var(--gray1350);
    --backgroundSecondary: var(--gray1300);
    --borderColor: var(--gray1200);
    --buttonColorPrimary: var(--black);
    --buttonBackgroundPrimary: var(--white);
    --buttonHoverPrimary: var(--gray100);
    --buttonActivePrimary: var(--gray200);
    --buttonColorSecondary: var(--white);
    --buttonBackgroundSecondary: var(--transparent);
    --buttonHoverSecondary: var(--gray1200);
    --buttonActiveSecondary: var(--gray1400);
    --fontColorPrimary: var(--gray200);
  }
}

body.light-theme {
  --backgroundPrimary: var(--white);
  --backgroundSecondary: var(--gray50);
  --borderColor: var(--gray200);
  --buttonColorPrimary: var(--white);
  --buttonBackgroundPrimary: var(--black);
  --buttonHoverPrimary: var(--gray1400);
  --buttonActivePrimary: var(--gray1300);
  --buttonColorSecondary: var(--black);
  --buttonBackgroundSecondary: var(--transparent);
  --buttonHoverSecondary: var(--gray100);
  --buttonActiveSecondary: var(--gray200);
  --fontColorPrimary: var(--black);
}

body.dark-theme {
  --backgroundPrimary: var(--gray1350);
  --backgroundSecondary: var(--gray1300);
  --borderColor: var(--gray1200);
  --buttonColorPrimary: var(--black);
  --buttonBackgroundPrimary: var(--white);
  --buttonHoverPrimary: var(--gray100);
  --buttonActivePrimary: var(--gray200);
  --buttonColorSecondary: var(--white);
  --buttonBackgroundSecondary: var(--transparent);
  --buttonHoverSecondary: var(--gray1200);
  --buttonActiveSecondary: var(--gray1400);
  --fontColorPrimary: var(--gray200);
}

body {
  color: var(--fontColorPrimary);
}

hr {
  margin: 8px 0px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--backgroundSecondary);
  border-left: 1px solid var(--borderColor);
}

::-webkit-scrollbar-thumb {
  background: var(--borderColor);
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

@media (max-width: 639px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}