* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

:root {
  --white: #FFFFFF;
  --gray100: #EEEEEE;
  --gray1500: #222222;
  --gray1600: #111111;
  --black: #000000;
}

button {
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e8eddf;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

@media (max-width: 639px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}