.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  user-select: none;
  transition: background-color 0.1s ease-in;
}

.primary {
  background-color: var(--iconButtonPrimaryBackground);
}

.primary>svg {
  width: 40px;
  height: 40px;
  margin: 0px;
  fill: var(--iconButtonPrimaryColor);
}

.secondary {
  background-color: var(--iconButtonSecondaryBackground);
}

.secondary>svg {
  width: 24px;
  height: 24px;
  margin: 8px;
  fill: var(--iconButtonSecondaryColor);
}

@media (hover: hover) {
  .primary:hover {
    background-color: var(--iconButtonPrimaryHover);
    cursor: pointer;
  }

  .secondary:hover {
    background-color: var(--iconButtonSecondaryHover);
    cursor: pointer;
  }
}

@media (min-width: 639px) {
  .primary:active {
    background-color: var(--iconButtonPrimaryActive);
  }

  .secondary:active {
    background-color: var(--iconButtonSecondaryActive);
  }
}

@media (max-width: 639px) {
  .primary>svg {
    width: 48px;
    height: 48px;
  }

  .primary.touch {
    background-color: var(--iconButtonPrimaryActive);
  }

  .secondary>svg {
    width: 32px;
    height: 32px;
  }

  .secondary.touch {
    background-color: var(--iconButtonSecondaryActive);
  }
}