.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  user-select: none;
  transition: background-color 0.1s ease-in;
}

.primary {
  background-color: var(--primaryElementBackground);
}

.primary>svg {
  width: 40px;
  height: 40px;
  margin: 0px;
  fill: var(--primaryElementColor);
}

.secondary {
  background-color: var(--secondaryElementBackground);
}

.secondary>svg {
  width: 24px;
  height: 24px;
  margin: 8px;
  fill: var(--secondaryElementColor);
}

.tooltip {
  background-color: var(--secondaryElementBackground);
}

.tooltip>svg {
  width: 24px;
  height: 24px;
  margin: 8px;
  fill: var(--primaryElementColor);
}

.snackbar {
  background-color: var(--primaryElementBackground);
}

.snackbar>svg {
  width: 24px;
  height: 24px;
  margin: 8px;
  fill: var(--primaryElementColor);
}

@media (hover: hover) {
  .primary:hover, .tooltip:hover {
    background-color: var(--primaryElementHover);
    cursor: pointer;
  }

  .secondary:hover {
    background-color: var(--secondaryElementHover);
    cursor: pointer;
  }

  .snackbar:hover {
    background-color: var(--primaryElementHover);
    cursor: pointer;
  }
}

@media (min-width: 481px) {
  .primary:active, .tooltip:active {
    background-color: var(--primaryElementActive);
  }

  .secondary:active {
    background-color: var(--secondaryElementActive);
  }

  .snackbar:active {
    background-color: var(--primaryElementActive);
  }
}

@media (max-width: 480px) {
  .primary>svg {
    width: 48px;
    height: 48px;
  }

  .primary.touch {
    background-color: var(--primaryElementHover);
  }

  .secondary>svg {
    width: 32px;
    height: 32px;
  }

  .secondary.touch {
    background-color: var(--secondaryElementHover);
  }

  .tooltip>svg {
    width: 32px;
    height: 32px;
  }

  .tooltip.touch {
    background-color: var(--primaryElementHover);
  }

  .snackbar>svg {
    width: 32px;
    height: 32px;
  }

  .snackbar.touch {
    background-color: var(--primaryElementHover);
  }
}