.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 100vh;
  padding: 8px;
  border-right: 1px solid var(--borderColor);
  background-color: var(--backgroundPrimary);
  z-index: 2;
}

.start,
.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.createFolderModalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.sectionName {
  padding: 16px 0px 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--borderColor);
  user-select: none;
}

.sectionThemeBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  user-select: none;
}

@media (max-width: 480px) {
  .container {
    position: fixed;
    /* bottom: 0; */
    flex-direction: row-reverse;
    width: 100%;
    padding: 8px 16px;
    height: fit-content;
    border-right: none;
    border-top: 1px solid var(--borderColor);
  }

  .start,
  .end {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
  }

  .hideOnMobile {
    display: none;
  }
}