.container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0px auto;
}

.input {
  position: relative;
  min-height: 100px;
  resize: none;
  outline: none;
  tab-size: 1;
  user-select: none !important;
  font-size: 15px;
}

@media (max-width: 639px) {
  .input {
    font-size: 16px;
  }
}