.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 16px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  user-select: none;
}

.logoImg {
  width: 40px;
  height: 40px;
}

.logoText {
  font-size: 24px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}

.title {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
}

.fieldLebel {
  color: gray;
  font-size: 14px;
  user-select: none;
}

.fieldInput {
  margin-bottom: 8px;
}

.fieldError {
  display: none;
}

.buttonImg {
  width: 16px;
  height: 16px;
}

.alternativeText {
  margin-top: 24px;
  color: gray;
}

@media (max-width: 420px) {
  .fieldLebel {
    font-size: 16px;
  }
}