.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 16px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  user-select: none;
}

.logoImg {
  width: 40px;
  height: 40px;
}

.logoText {
  font-size: 24px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 700;
}

.errorContainer {
  color: #e03131;
}

.form {
  display: flex;
  flex-direction: column;
}

.submitBtn {
  padding: 8px;
  color: #FFFFFF;
  background-color: black;
}

.forgotPasswordButton {
  width: fit-content;
  margin-top: 16px !important;
  margin: 0 auto;
  color: gray;
  font-weight: 400;
}

.forgotPasswordButton:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.googleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: transparent;
  outline: 1px solid black;
  color: black;
}

.toggleBtn {
  padding: 8px;
  color: #1971c2;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 8px;
}

.label {
  margin-bottom: 4px;
  color: gray;
  font-size: 14px;
  user-select: none;
}

.input {
  width: 100%;
  padding: 8px;
  border: none;
  font-size: 16px;
  color: gray;
  background-color: #e8eddf !important;
}

.input::placeholder {
  user-select: none;
  font-size: 16px;
}

.input:focus {
  outline: 2px solid #1971c2;
}

.input:invalid[data-focussed="true"] {
  outline: 2px solid #e03131;
}

.input:invalid[data-focussed="true"]~span {
  display: block;
}

.input:valid {
  background-color: white;
}

.error {
  display: none;
  width: 320px;
  margin-top: 4px;
  font-size: 14px;
  color: #e03131;
}

.forgotPasswordContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.resetForm {
  display: flex;
  align-items: center;
  column-gap: 4px;
  flex-wrap: nowrap;
}

.resetInput {
  padding: 8px 16px;
}

.resetButton {
  min-width: fit-content;
  padding: 8px 16px;
  background-color: black;
  color: white;
}

.resetButton:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.resetMessage {
  margin-top: 16px;
  color: gray;
}

.resetBackButton {
  margin-top: 16px;
  color: #1971c2;
}

.resetBackButton:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

@media (max-width: 639px) {
  .label {
    font-size: 16px;
  }

  .input {
    padding: 12px 8px;
  }

  .submitBtn {
    padding: 12px 8px;
  }

  .googleBtn {
    padding: 12px 8px;
  }

  .resetButton {
    padding: 12px 16px;
  }
}

.divider {
  margin: 16px 0;
}

.buttonImg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.alternativeText {
  margin-top: 32px;
  color: gray;
}