.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 16px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  user-select: none;
}

.logoImg {
  width: 40px;
  height: 40px;
}

.logoText {
  font-size: 24px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 8px;
}

.divider {
  margin: 16px 0;
}

.buttonImg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.alternativeText {
  margin-top: 32px;
  color: gray;
}