.container {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e8eddf;
}

.dropdown {
  position: absolute;
  top: 53px;
  left: 108px;
  width: fit-content;
  height: fit-content;
  max-height: 60vh;
  padding: 16px;
  background-color: #BFC7B4;
  overflow-y: auto;
}

.userDropdown {
  position: absolute;
  top: 53px;
  right: 16px;
  width: fit-content;
  height: fit-content;
  max-height: 60vh;
  padding: 16px;
  background-color: #BFC7B4;
  overflow-y: auto;
}

.dropdownItem {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.left {
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 639px) {
  .container {
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content:space-between;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  .left {
    padding: 16px 16px 16px 0px;
  }

  .right {
    padding: 16px 0px 16px 16px;
  }

  .dropdown {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    left: 0;
    top: -100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .userDropdown {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    left: 0;
    top: -100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .dropdownItem {
    font-size: 40px;
    font-weight: 600;
  }

  .dropdownViewItem {
    display: none;
  }

  .left {
    flex-direction: row-reverse;
  }

  .serachBtn {
    display: none;
  }

  .layoutBtn {
    display: none;
  }

  .themeBtn {
    display: none;
  }
}