.container {
  position: fixed;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e8eddf;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 8px;
}

@media (max-width: 639px) {
  .container {
    position: fixed;
    bottom: 0%;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }

  .left {
    flex-direction: row-reverse;
  }
}