.container {
  min-width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e8eddf;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 8px;
}